.cover-container { /* override for map width */
    max-width: 100%;
}
header h3{
    color: #0a0909;
    text-transform: uppercase;
    margin-left: 1%;
    -webkit-text-stroke:  .01em #c4c2c2;
}
.map{
    width: 100%;
}
header{
    background: linear-gradient(to right, #29f925,#77169e);
    z-index: 100;
    opacity: 0.8;
}
.kindsOfvariablesForMap{
    position: relative;
    width: 40%;
    background-color: white;
    text-align: left;

}
.kindsOfvariablesForMap h3{
    color: #ad25db;
    text-align: center;
}
.buttonforSendVar{
    margin-left: 35%;
}
.kindsOfvariablesForMap .variantsOfvariables{
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*flex: 2;*/
    flex-wrap: wrap;
    justify-content:space-around;

}
.kindsOfvariablesForMap .variantsOfvariables div{
    flex: 1 1 auto;
    width: 50%;
    padding-left: 5%;
}
.kindsOfvariablesForMap label{
    color: green;
    margin-left: 2%;
}
/*.kindsOfvariablesForMap input{
    margin-left: 10%;
}*/
@media (max-width: 275px){
    .map {
        height: 500px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 50%;
    }
    header a{
        font-size: 45%;
    }
    main{
        position: relative;
        top: 45px;
        z-index: 10;
    }
}
@media (min-width: 276px) and (max-width: 320px){
    .map {
        height: 500px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 70%;
    }
    header a{
        font-size: 65%;
    }
    main{
        position: relative;
        top: 65px;
        z-index: 10;
    }
}
@media (min-width: 321px) and (max-width: 376px){
    .map {
        height: 500px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 60%;
    }
    header a{
        font-size: 45%;
    }
    main{
        position: relative;
        top: 25px;
        z-index: 10;
    }
}
@media (min-width: 377px) and (max-width: 410px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 55%;
    }
    header a{
        font-size: 50%;
    }
    main{
        position: relative;
        top: 30px;
        z-index: 10;
    }
}
@media (min-width: 411px) and (max-width: 479px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 60%;
    }
    header a{
        font-size: 58%;
    }
    main{
        position: relative;
        top: 43px;
        z-index: 10;
    }
}
@media (min-width: 480px) and (max-width: 519px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 60%;
    }
    header a{
        font-size: 58%;
    }
    main{
        position: relative;
        top: 37px;
        z-index: 10;
    }
}
@media (min-width: 520px) and (max-width: 600px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 95%;
    }
    header a{
        font-size: 80%;
    }
    main{
        position: relative;
        top: 37px;
        z-index: 10;
    }
}
@media (min-width: 601px) and (max-width: 699px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 90%;
    }
    header a{
        font-size: 70%;
    }
    main{
        position: relative;
        top: 45px;
        z-index: 10;
    }
}
@media (min-width: 700px) and (max-width: 769px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 100%;
    }
    header a{
        font-size: 90%;
    }
    main{
        position: relative;
        top: 37px;
        z-index: 10;
    }
}
@media (min-width: 770px) and (max-width: 900px) {
    .map {
        height: 700px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 120%;
    }
    header a{
        font-size: 100%;
    }
    main{
        position: relative;
        top: 58px;
        z-index: 10;
    }
}
@media (min-width: 901px) and (max-width: 1023px) {
    .map {
        height: 900px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 100%;
    }
    header a{
        font-size: 100%;
    }
    main{
        position: relative;
        top: 65px;
        z-index: 10;
    }
}

@media (min-width: 1024px){
    .map {
        height: 1000px;
    }
    header {
        position: fixed; /* Фиксированное позиционирование */
        left: 0; right: 0; /* Вся ширина */
        top: 0px; /* Положение сверху */
        padding: 5px; /* Поля вокруг текста */
        border: 10px;
        /*background-color: #080808;*/
    }
    header h3{
        font-size: 140%;
    }
    header a{
        font-size: 120%;
    }
    main{
        position: relative;
        top: 50px;
        z-index: 10;
    }
}
